
@{
    ViewBag.Title = "NovaTrenutnaPorudzbina";
}

<html>
<head>
    <style type="text/css">
        #podela {
            float: left;
            height: 600px;
            width: 480px;
            margin-top: 40px;
            margin-left: 20px;
        }

        .button {
            border: 2px solid #008CBA;
            border-radius: 50%;
            background-color: white;
            color: black;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
        }

            .button:hover {
                background-color: #008CBA;
                color: white;
            }

        table, th, td {
            border: 2px solid;
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 4px;
            padding-bottom: 3px;
            border-left-color: blue;
            border-right-color: blue;
            border-top-color: blue;
            border-bottom-color: blue;
            font-size: 18px;
        }

        th {
            background-color: lightskyblue;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        .linkButton {
            background-color: greenyellow;
            color: black;
            text-decoration: none;
            font-family: Arial;
            font-size: 18px;
            padding: 6px 18px;
        }

            .linkButton:hover {
                background-color: green;
                text-decoration:none;
                color:white;
            }

        h1 {
            padding-top: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Povratak na pocetnu", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Profil", "Index", "Potrosac")</li>
                    <li>@Html.ActionLink("Nova/Trenutna porudzbina", "NovaTrenutnaPorudzbina", "Potrosac")</li>
                    <li>@Html.ActionLink("Prethodne porudzbine", "PrethodnePorudzbine", "Potrosac")</li>
                    <li>@Html.ActionLink("Log out", "LogOut", "Potrosac")</li>
                </ul>
            </div>
        </div>
    </div>

    <h1>Nova porudzbina</h1><br />

    <table>
        <tr>
            <th colspan="3">Meni restorana</th>
        </tr>
        <tr>
            <th>Naziv proizvoda</th>
            <th>Cena</th>
            <th>Sastojci</th>
        </tr>
        @foreach (var item in ViewBag.prikazProizvoda)
        {
            <tr>
                <td>@item.ImeProizvoda</td>
                <td>@item.Cena</td>
                <td>@item.Sastojci</td>
                <td><a class="linkButton" href="/Potrosac/NapraviPorudzbinu?imeProizvoda=@item.ImeProizvoda&&cena=@item.Cena&&sastojci=@item.Sastojci">Dodaj u korpu</a></td>
            </tr>
        }
    </table><br />

    <form action="~/Potrosac/Poruci" method="post">
        <table>
            <tr>
                <th colspan="2">Vasa korpa</th>
            </tr>
            <tr>
                <th>Proizvod</th>
                <th>Kolicina</th>
            </tr>
            @if (ViewBag.porucuje.Count != 0)
            {
                int brojac = 0;
                foreach (var item in ViewBag.porucuje)
                {
                    brojac++;
                    <tr>
                        <td>
                            <label name="proizvod" />@item.ImeProizvoda
                        </td>
                        @{string naziv = "Kolicina" + brojac.ToString();}
                        <td><input type="number" name="@naziv" value="1" min="0" max="1000" /></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>Prazno</td>
                    <td><input type="number" name="kolicina" min="0" max="0" /></td>
                </tr>
            }
        </table><br />
        <h3>Poruci proizvode iz korpe:</h3>

        <table>
            <tr>
                <td><label>Na adresu:</label></td>
                <td><input type="text" name="adresa" required="required" /></td>
            </tr>
            <tr>
                <td><label>Komentar:</label></td>
                <td><input type="text" name="komentar" /></td>
            </tr>
            <tr>
                <td><label>Ukupna cena:</label></td>
                <td><label name="ukCena" />Proizvodi + dostava(200din)</td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" class="button" value="Poruci" /></td>
            </tr>
        </table>
    </form><br />
    @if (ViewBag.por != null && ViewBag.por != "Poruceno")
    {
        <h2>@ViewBag.por</h2><br />
    }

    @if (ViewBag.TrenutnoPoruceno != null) //.StaPorucuje
    {
        <h1>Trenutna Porudzbina</h1><br />
        <table>
            <tr>
                <th colspan="7">Vasa porudzbina</th>
            </tr>
            <tr>
                <th>Proizvodi koji su poruceni</th>
                <th>Kolicina po proizvodu</th>
                <th>Adresa</th>
                <th>Email</th>
                <th>Komentar</th>
                <th>Cena</th>
                <th>Status</th>
            </tr>
            <tr>
                <td>@ViewBag.TrenutnoPoruceno.StaPorucuje</td>
                <td>@ViewBag.TrenutnoPoruceno.Kolicina</td>
                <td>@ViewBag.TrenutnoPoruceno.Adresa</td>
                <td>@ViewBag.TrenutnoPoruceno.Email</td>
                <td>@ViewBag.TrenutnoPoruceno.Komentar</td>
                <td>@ViewBag.TrenutnoPoruceno.Cena</td>
                <td>@ViewBag.TrenutnoPoruceno.StatusPor</td>
            </tr>
        </table>
    }<br />

    @if (ViewBag.odbrojavanje == "krenulo")
    {
        <h2>Vreme do dostave</h2>
        <h2 id="random">Porudzbina uspesno dostavljena!</h2>
        <script>
            let min = @ViewBag.vremeMinute; //ovo je vrednost iz kontrolera nakon oduzimanja
            let sek = @ViewBag.vremeSekunde; //ovo je vrednost iz kontrolera nakon oduzimanja
            var countDownTarget = new Date().getTime() + (min * 60 + sek) * 1000;

            function showClock(target) {
                const distance = target - new Date().getTime();
                const mins = distance < 0 ? 0 : Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                const secs = distance < 0 ? 0 : Math.floor((distance % (1000 * 60)) / 1000);

                // Output the results
                document.getElementById("random").innerHTML = mins + ":" + secs;
            }

            showClock(countDownTarget);

            // Update the count down every 1 second
            var x = setInterval(function () {
                showClock(countDownTarget);
                if (countDownTarget - new Date().getTime() < 0) {
                    clearInterval(x);
                    location.reload();
                }
            }, 1000);
        </script>
    }

    <br /><br /><br /><br /><br />
</body>
</html>