
@{
    ViewBag.Title = "NovePorudzbine";
}
<html>
<head>
    <style type="text/css">
        #podela {
            float: left;
            height: 600px;
            width: 480px;
            margin-top: 40px;
            margin-left: 20px;
        }

        table, th, td {
            border: 2px solid;
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 4px;
            padding-bottom: 3px;
            border-left-color: blue;
            border-right-color: blue;
            border-top-color: blue;
            border-bottom-color: blue;
            font-size: 18px;
        }

        th {
            background-color: lightskyblue;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        .linkButton {
            background-color: greenyellow;
            color: black;
            text-decoration: none;
            font-family: Arial;
            font-size: 18px;
            padding: 4px 20px;
        }

            .linkButton:hover {
                background-color: green;
                text-decoration: none;
                color: white;
            }

        td {
            padding-top: 2px;
            padding-bottom: 2px;
            padding-right: 2px;
            padding-left: 2px;
        }

            td:first-child {
                padding-left: 2px;
                padding-right: 0;
            }

        img {
            border-color: #008CBA;
            border: 2px solid #008CBA;
            border-radius: 50%;
            height: 60px;
            width: 120px;
        }

        h1,h3 {
            padding-top: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Povratak na pocetnu", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Profil", "Index", "Dostavljac")</li>
                    <li>@Html.ActionLink("Nove porudzbine", "NovePorudzbine", "Dostavljac")</li>
                    <li>@Html.ActionLink("Moje porudzbine", "MojePorudzbine", "Dostavljac")</li>
                    <li>@Html.ActionLink("Trenutna porudzbina", "TrenutnaPorudzbina", "Dostavljac")</li>
                    <li>@Html.ActionLink("Log out", "LogOut", "Dostavljac")</li>
                </ul>
            </div>
        </div>
    </div>

    <h1>Nove porudzbine</h1><br />

    @if (ViewBag.statusVerifikacije == "Zahtev je odbijen" || ViewBag.statusVerifikacije == "Zahtev se procesira")
    {
        <h3>Nemate pravo pristupa ukoliko vas admin ne verifikuje. Status proverite na sovm profilu.</h3>
    }
    else if (ViewBag.statusVerifikacije != "Zahtev je odbijen" && ViewBag.statusVerifikacije != "Zahtev se procesira")
    {
        if (ViewBag.prikaz != null)
        {
        <table>
            <tr>
                <th>Proizvodi koji su poruceni</th>
                <th>Kolicina po proizvodu</th>
                <th>Adresa</th>
                <th>Email</th>
                <th>Komentar</th>
                <th>Cena</th>
                <th>Status</th>
            </tr>
            @foreach (var item in ViewBag.prikaz)
            {
            <tr>
                <td>@item.Proizvod</td>
                <td>@item.Kolicina</td>
                <td>@item.Adresa</td>
                <td>@item.Email</td>
                <td>@item.Komentar</td>
                <td>@item.Cena</td>
                <td>@item.StatusPor</td>
                @if (ViewBag.zauzet != "zauzet")
                {
                    <td><a class="linkButton" href="/Dostavljac/PrihvatiDostavu?email=@item.Email&&status=@item.StatusPor">Prihvati&nbsp;dostavu</a></td>
                }
            </tr>
            }
        </table>
        }
    }

</body>
</html>