
@{
    ViewBag.Title = "TrenutnaPorudzbina";
}
<html>
<head>
    <style type="text/css">
        #podela {
            float: left;
            height: 600px;
            width: 480px;
            margin-top: 40px;
            margin-left: 20px;
        }

        .button {
            border: 2px solid #008CBA;
            border-radius: 50%;
            background-color: white;
            color: black;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
        }

            .button:hover {
                background-color: #008CBA;
                color: white;
            }

        table, th, td {
            border: 2px solid;
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 4px;
            padding-bottom: 3px;
            border-left-color: blue;
            border-right-color: blue;
            border-top-color: blue;
            border-bottom-color: blue;
            font-size: 18px;
        }

        th {
            background-color: lightskyblue;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        img {
            border-color: #008CBA;
            border: 2px solid #008CBA;
            border-radius: 50%;
            height: 60px;
            width: 120px;
        }

        h1,h3 {
            padding-top: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Povratak na pocetnu", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Profil", "Index", "Dostavljac")</li>
                    <li>@Html.ActionLink("Nove porudzbine", "NovePorudzbine", "Dostavljac")</li>
                    <li>@Html.ActionLink("Moje porudzbine", "MojePorudzbine", "Dostavljac")</li>
                    <li>@Html.ActionLink("Trenutna porudzbina", "TrenutnaPorudzbina", "Dostavljac")</li>
                    <li>@Html.ActionLink("Log out", "LogOut", "Dostavljac")</li>
                </ul>
            </div>
        </div>
    </div>

    <h1>Trenutna porudzbina</h1><br />

    @if (ViewBag.statusVerifikacije == "Zahtev je odbijen" || ViewBag.statusVerifikacije == "Zahtev se procesira")
    {
        <h3>Nemate pravo pristupa ukoliko vas admin ne verifikuje. Status proverite na sovm profilu.</h3>
    }
    else if (ViewBag.statusVerifikacije != "Zahtev je odbijen" && ViewBag.statusVerifikacije != "Zahtev se procesira")
    {
        if (ViewBag.prikazKaoKodKorisnika.Proizvod != null)
        {
            <table>
                <tr>
                    <th colspan="7">Vasa trenutna porudzbina</th>
                </tr>
                <tr>
                    <th>Proizvodi koji su poruceni</th>
                    <th>Kolicina po proizvodu</th>
                    <th>Adresa</th>
                    <th>Email</th>
                    <th>Komentar</th>
                    <th>Cena</th>
                    <th>Status</th>
                </tr>
                <tr>
                    <td>@ViewBag.prikazKaoKodKorisnika.Proizvod</td>
                    <td>@ViewBag.prikazKaoKodKorisnika.Kolicina</td>
                    <td>@ViewBag.prikazKaoKodKorisnika.Adresa</td>
                    <td>@ViewBag.prikazKaoKodKorisnika.Email</td>
                    <td>@ViewBag.prikazKaoKodKorisnika.Komentar</td>
                    <td>@ViewBag.prikazKaoKodKorisnika.Cena</td>
                    <td>@ViewBag.prikazKaoKodKorisnika.StatusPor</td>
                </tr>
            </table>
        }
    }
    <br />

    @if (ViewBag.odbrojavanje == "krenulo")
    {
        <h2>Vreme do dostave</h2>
        <h2 id="random">Vreme</h2>
        <script>
            let min = @ViewBag.vremeMinute; //ovo je random vrednost iz kontrolera
            let sek = @ViewBag.vremeSekunde; //ovo je random vrednost iz kontrolera
            var countDownTarget = new Date().getTime() + min * sek * 1000;

            function showClock(target) {
                const distance = target - new Date().getTime();
                const mins = distance < 0 ? 0 : Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                const secs = distance < 0 ? 0 : Math.floor((distance % (1000 * 60)) / 1000);

                // Output the results
                document.getElementById("random").innerHTML = mins + ":" + secs;
            }

            showClock(countDownTarget);

            // Update the count down every 1 second
            var x = setInterval(function () {
                showClock(countDownTarget);
                if (countDownTarget - new Date().getTime() < 0) {
                    clearInterval(x);
                }
            }, 1000);
        </script>
    }

</body>
</html>