
@{
    ViewBag.Title = "SvePorudzbine";
}
<html>
<head>
    <style type="text/css">
        table, th, td {
            border: 2px solid;
            text-align: center;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 4px;
            padding-bottom: 3px;
            border-left-color: blue;
            border-right-color: blue;
            border-top-color: blue;
            border-bottom-color: blue;
            font-size: 18px;
        }

        th{
            background-color: lightskyblue;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        h1 {
            padding-top: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Povratak na pocetnu", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Profil", "Index", "Admin")</li>
                    <li>@Html.ActionLink("Verifikacija", "Verifikacija", "Admin")</li>
                    <li>@Html.ActionLink("Sve porudzbine", "SvePorudzbine", "Admin")</li>
                    <li>@Html.ActionLink("Dodavanje proizvoda", "DodavanjeProizvoda", "Admin")</li>
                    <li>@Html.ActionLink("Log out", "LogOut", "Admin")</li>
                </ul>
            </div>
        </div>
    </div>

    <h1>Sve porudzbine</h1><br />

    <table>
        <tr>
            <th>Sta porucuje</th>
            <th>Kolicina</th>
            <th>Adresa</th>
            <th>Email</th>
            <th>Komentar</th>
            <th>Cena</th>
            <th>Status porudzbine</th>
        </tr>
        @foreach (var item in ViewBag.prikazPorudzbina)
        {
            <tr>
                <td>@item.Proizvod</td>
                <td>@item.Kolicina</td>
                <td>@item.Adresa</td>
                <td>@item.Email</td>
                <td>@item.Komentar</td>
                <td>@item.Cena</td>
                <td>@item.StatusPor</td>
            </tr>
        }
    </table>
</body>
</html>
